
/* Define styles for different categories */
.card {
    width: 18rem;
    margin-bottom: 1rem;
  }
  
  .bg-physics {
    background-color: blue; 
  }
  
  .bg-chemistry {
    background-color: orangered; 
  }
  
  .bg-biology {
    background-color: greenyellow; 
  }
  .bg-null {
    background-color:gray; 
  }
